{% extends 'layout.html' %}

{% block content %}
    <div class="period-card">
        <div class="period-image">
            <img src="{{ item.image }}" alt="{{ item.name }}">
        </div>
        <div class="period-info">
            <h2>{{ item.name }}</h2>
            <div class="period-dates">
                <p><strong>Начало:</strong> {{ item.start }}</p>
                <p><strong>Конец:</strong> {{ item.end }}</p>
            </div>
            <p>{{ item.detail_text }}</p>
        </div>
    </div>
{% endblock %}
